* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.content-wrap {
  height: 100%;
}
nav {
  background: #81a05a;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  z-index: 1;
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li #links-button {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
#links-button.active,
#links-button:hover {
  text-decoration: none;
  background-color: #3c6255;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1164px) {
  label.logo {
    font-size: 24px;
    padding-left: 50px;
  }
  nav ul li #links-button {
    font-size: 12px;
  }
}
@media (max-width: 1102px) {
  label.logo {
    font-size: 24px;
    padding-left: 50px;
  }
  nav ul li #links-button {
    font-size: 12px;
  }
}

@media (max-width: 953px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  label.logo {
    font-size: 22px;
    padding-left: 50px;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li #links-button {
    font-size: 20px;
  }
  #links-button:hover,
  #links-button.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.nav-humberger {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}
/* navbar ending */

.boxes {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box1 {
  margin-top: 1%;
  padding: 2%;
  width: 70%;
  height: 347px;
  background: #81a05a;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px #81a05a;
}

.box2 {
  margin-top: 4%;
  padding: 2%;
  width: 70%;
  height: 347px;
  background: #81a05a;
  border-radius: 0.5rem;

  box-shadow: 0px 10px 10px #81a05a;
}
.img-text {
  width: 30%;
  border-radius: 0.5rem;
  height: auto;
}
.img-text-1 {
  width: 30%;
  border-radius: 0.5rem;
  height: auto;
}
.img-text-2 {
  width: 27%;
  border-radius: 0.5rem;
  height: auto;
}

.box1 h1 {
  color: white;
}
.box3 {
  padding: 2%;
  margin-top: 4%;
  width: 70%;
  height: 384px;
  background: #81a05a;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px #81a05a;
}

.parent-img-text {
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.parent-img-text-2 {
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.parent-img-text-3 {
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.text-box-1 {
  width: 50%;
  height: 200px;
  background: white;
  border-radius: 0.5rem;
  position: relative;
  padding: 1%;
  margin-top: 1%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.text-box-2 {
  width: 50%;
  height: 200px;
  background: white;
  border-radius: 0.5rem;
  position: relative;
  padding: 1%;
  margin-top: 1%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.text-box-3 {
  width: 50%;
  height: 200px;
  background: white;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  padding: 1%;
  margin-top: 1%;
  margin-left: 23%;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

/* media screen for 1449*/
@media (max-width: 1688px) {
  .page-title{
    margin-top: 2%;
  }
  .boxes {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .box1 {
    padding: 2%;
    width: 70%;
    height: 412px;
    background: #81a05a;
    border-radius: 0.5rem;
  }
  .img-text-1 {
    width: 44%;
    height: auto;
  }
  .img-text {
    width: 44%;

    height: auto;
  }
  .img-text-2 {
    width: 34%;

    height: auto;
  }

  .box2 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 412px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box3 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 412px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .text-box-1 {
    width: 50%;
    height: 214px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 1%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-2 {
    width: 50%;
    height: 200px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    padding: 1%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
  }

  .text-box-3 {
    width: 50%;
    height: 200px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    padding: 1%;
    margin-left: 15%;
    justify-content: center;
    align-items: center;
  }
}

/* media screen for 1450 */
@media (max-width: 1451px) {
  .box1 {
    padding: 1%;
    width: 70%;
    height: 350px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box2 {
    padding: 1%;
    margin-top: 4%;
    width: 70%;
    height: 355px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box3 {
    padding: 1%;
    margin-top: 4%;
    width: 70%;
    height: 400px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .img-text-1 {
    width: 44%;
    height: auto;
  }
  .img-text {
    width: 44%;

    height: auto;
  }
  .img-text-2 {
    width: 44%;

    height: auto;
  }

  .text-box-1 {
    width: 50%;
    height: 240px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 3%;
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-2 {
    width: 50%;
    height: 240px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 3%;
    margin-top: 1%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-3 {
    width: 50%;
    height: 240px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 3%;
    margin-top: 1%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box1 h1 {
    font-size: 35px;
    font-weight: bold;
    color: #333;
  }
  .box2 h1 {
    font-size: 35px;
    font-weight: bold;
    color: #333;
  }

  .box3 h1 {
    font-size: 35px;
    font-weight: bold;
    color: #333;
  }
}
/* media screen for 1334 */
@media (max-width: 1334px) {
  .box1 {
    padding: 2%;
    width: 70%;
    height: 350px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box2 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 362px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box3 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 396px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .img-text-1 {
    width: 44%;
    height: auto;
  }
  .img-text {
    width: 44%;

    height: auto;
  }
  .img-text-2 {
    width: 44%;

    height: auto;
  }

  .text-box-1 {
    width: 50%;
    height: 240px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-top: 1%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-2 {
    width: 50%;
    height: 250px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-3 {
    width: 50%;
    height: 250px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box1 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
  .box2 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }

  .box3 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
}

/* Media Screen for 1268 */
@media (max-width: 1268px) {
  .box1 {
    padding: 2%;
    width: 70%;
    height: 384px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box2 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 380px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box3 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 382px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .text-box-1 {
    width: 50%;
    height: 272px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-top: 1%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-2 {
    width: 50%;
    height: 272px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-3 {
    width: 50%;
    height: 272px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box1 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
  .box2 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }

  .box3 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
}
/* Media Screen for 1112 */
@media (max-width: 1112px) {
  .boxes {
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .box1 {
    padding: 2%;
    width: 70%;
    height: 700px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box2 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 800px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box3 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 800px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .text-box-1 {
    width: 50%;
    height: 300px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-top: 1%;
    margin-left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-2 {
    width: 50%;
    height: 300px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-3 {
    width: 50%;
    height: 300px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box1 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
  .box2 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }

  .box3 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
}
/* Media Screen for 950 */
@media (max-width: 950px) {
  .boxes {
    margin-bottom: 8%;
    margin-top: 8%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box1 {
    padding: 2%;
    width: 70%;
    height: 462px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box2 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 462px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box3 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 462px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .text-box-1 {
    width: 50%;
    height: 324px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-top: 1%;
    margin-left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-2 {
    width: 50%;
    height: 324px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-3 {
    width: 50%;
    height: 324px;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box1 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
  .box2 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }

  .box3 h1 {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
}
/* Media Screen for 894 */
@media (max-width: 894px) {
  .boxes {
    margin-bottom: 8%;
    height: 100%;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  .box1 {
    padding: 2%;
    width: 70%;
    height: 800px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box2 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 800px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box3 {
    padding: 2%;
    margin-top: 4%;
    width: 70%;
    height: 800px;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .text-box-1 {
    width: 78%;
    height: 70%;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-2 {
    width: 78%;
    height: 70%;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-3 {
    width: 78%;
    height: 70%;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box1 h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
  .box2 h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }

  .box3 h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
}
/* Media Screen for 585 */
@media (max-width: 585px) {
  .boxes {
    margin-bottom: 4%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .box1 {
    padding: 2%;
    width: 78%;
    height: 56%;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box2 {
    padding: 2%;
    margin-top: 4%;
    width: 78%;
    height: 56%;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .box3 {
    padding: 2%;
    margin-top: 4%;
    width: 78%;
    height: 56%;
    background: #81a05a;
    border-radius: 0.5rem;
  }

  .text-box-1 {
    width: 82%;
    height: 80%;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-2 {
    width: 78%;
    height: 70%;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-box-3 {
    width: 78%;
    height: 70%;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    padding: 2%;
    margin-left: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box1 h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }

  .box2 h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }

  .box3 h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }
}
